<div class="container">
  <h1>Hello {{ title }} </h1>
  <app-user-list></app-user-list>
  <app-user-list></app-user-list>
  <app-user-list></app-user-list>
  <app-user-list2></app-user-list2>
  <app-user-list3></app-user-list3>
  <app-user-list4></app-user-list4>
  <app-signin></app-signin>
  <button (click)="getName()">Click me</button>
  <button (click)="getName2('Ankit')">Click me2</button>
  <br> <br>
  <input type="text" #box placeholder="function call by event keyup" (keyup)="getData(box.value)"><br>
  <br>
  <input type="text" #box2 placeholder="function call by event keydown" (keydown)="getData(box2.value)">
  <br><br>
  <input type="text" #box3 placeholder="function call by event blur" (blur)="getData(box3.value)">
  <br><br>
  <input type="text" #box4 placeholder="function call by event input" (input)="getData(box4.value)">
  <br><br>

  <!-- <h3 (mouseover)="getData('over')">Mouse over Event</h3> -->
  <!-- <h3 (mouseleave)="getData('leave')">Mouse Leave Event</h3> -->

  <input type="text" #box5 placeholder="Enter your name" (input)="getData3(box5.value)">

  <p>box value is : {{displayVal}} </p>

  <input type="text" #box6 placeholder="Enter your name">
  <button (click)="getData4(box6.value)">Click me</button>
  <p>box value is : {{displayVal2}} </p>

  <button (click)="counter('minus')">--</button>
  <p> {{count}} </p>
  <button (click)="counter('add')">++</button>
  <br><br>

  <input type="text" name="user-name" value="{{name}}" disabled="{{disable}}">
  <br><br>
  <input type="text" name="user-name" [value]=name [disabled]=disable>

  <!-- ifelse condition -->

  <h1 *ngIf="show; then ifBlock else elseBlock"></h1>
  <ng-template #ifBlock>
    <h1>If Condition</h1>
  </ng-template>

  <ng-template #elseBlock>
    <h1>Else Condition</h1>
  </ng-template>

  <!-- ifelse condition another way-->
  <h1 *ngIf="show; else elseBlock">
    If Condition</h1>


  <ng-template #elseBlock>
    <h1>Else Condition</h1>
  </ng-template>

  <!-- ifelse condition another way-->
  <h1 *ngIf="show">
    If Condition</h1>


  <h1 *ngIf="!show">
    Else Condition</h1>

  <!-- ifelse condition another way-->
  <h1 *ngIf="show2>=18 ">
    You are Adult</h1>


  <h1 *ngIf="show2<18">
    You are child</h1>

    <!-- ifelse condition another way-->

    <h1 [innerHTML]="show2>=18 ? 'You are Adult' : 'You are child' "></h1>


  <!-- else if or multiple condition -->

  <ng-template [ngIf]="color=='red'">
    <h1 style="color: red">Red color</h1>
  </ng-template>

  <ng-template [ngIf]="color=='blue'">
    <h1 style="color: blue">Blue color</h1>
  </ng-template>

  <ng-template [ngIf]="color=='green'">
    <h1 style="color: green">Green color</h1>
  </ng-template>

  <!-- switch case -->
  <div [ngSwitch]="color2">
    <h1 *ngSwitchCase="'blue'" style="color: blue">Blue color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green">green color</h1>
    <h1 *ngSwitchCase="'red'" style="color: red">red color</h1>
    <h1 *ngSwitchDefault>Unknown color</h1>
  </div>

  <!-- for loop -->
  <h3 *ngFor="let item of user">{{item}} </h3>

  <h6 *ngFor="let item of user2"> Name is: {{item.name}} -- email is: {{item.email}}</h6>

  <!-- nested or multidimentional for loop -->
  <ul *ngFor="let item of user3">
    <li>Name is: {{item.name}} </li>
    <li>email is: {{item.email}}</li>
    <ul *ngFor="let account of item.accounts">
      <li>{{account}}</li>
    </ul>
  </ul>

  <!-- Style Binding -->
  <h1 [style.color]="'green'">Hello Ankit</h1>
  <h1 [style.color]="color3">Hello Ankit</h1>
  <h1 [style.color]="color3">Hello Ankit</h1>
  <button (click)="updateColor()">click me</button><br><br>

  <!-- Styling Dynamically for the Component Templates using ngStyle attribute Directive in angular.
  -->

  <h1 [ngStyle]="{color: 'yellow'}">Hello Ankit</h1>

  <!-- Two way Binding -->
  <input type="text" [(ngModel)]="name2">
  <p>{{name2}} </p>

  <!-- if condition on button click -->
  <div *ngIf="show3">
    This data was hidden</div>
  <button (click)="showData()">Click me </button>

<div>user is: {{updateStatus()}} </div>
<div>user is: {{updateStatus()}} </div>
<div>user is: {{updateStatus()}} </div>

<app-signin [Item]="data"></app-signin>
<button (click)="updateChild()"> update child Data</button>

</div>